<% include ./partials/header.ejs %>

<div class="container-fluid">
  <div class="row">
    <div >
      <% include ./partials/carousel.ejs %>
    </div>
    <div >
      <% if(!user) { %>
        <% include ./partials/signUp.ejs %>
        <% } else {%>
        TEXT HERE
        <% } %>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
