<% include ./partials/header %>
<div class="container my-3 mx-auto" id="button-div">
  <button type="button" id="player-game-type" class="btn btn-danger">Player-Game-Type</button>
  <button type="button" id="player-game" class="btn btn-warning">Player-Game</button>
</div>
<div>
  <h3 class="mx-5" id="data-title">Select type of data to display</h3>
</div>
<div class="container container-fluid mx-auto my-5 table-responsive-md">
  <table class="table table-sm table-dark table-striped table-bordered table-hover"></table>
</div>

<% include ./partials/footer %>
